*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;

    
}
body {     

    margin:0 ;
    padding:0 ;  
    color: rgb(250, 136, 6);  
    text-align: justify;
    background-image: url(image/backImg.jpg);
    background-size: cover;
    line-height: 2em;
    
}

li {
    list-style-type: katakana-iroha;
}

.main {
    width: 80%;
    border-radius: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}

.grid {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40% 10% 50%;
}

h1 {
    font-family: 'Indie Flower', cursive;
    margin-top: 30px;
    padding: 5px 10px;
    text-align: center;
    font-size: 3rem;
    color: darkmagenta;
    line-height: 3rem;
}

h2{
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    padding-bottom: 15px;
    font-weight: 900;
    text-align: center;
}

.jobname{
    border-bottom: double 4px pink;
    font-size: 1.5rem;
    grid-column: 1/2 ;
    grid-row: 1 ;
    margin-top: 20px;
    padding: 5px 10px;
    text-align: center;
}

.menu {
    grid-column: 2/3 ;
    grid-row: 3 ;
    margin-top: 40px;
    padding: 5px 10px;
    box-shadow: 10px 5px 15px rgba(189, 162, 252, 0.952);
    border-radius: 20%;
    text-align: center;
}

.menu>ul>li {
    list-style: none;
    padding: 3px;
}

a{
    color: rgba(189, 162, 252, 0.952);
}
a:hover{
    color:  rgb(250, 136, 6);
}

.photo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    grid-column: 2;
    grid-row: 1/4;
    padding: 5%;
    max-width: 500px;
    align-items: center;
    justify-content: center;
}

.mini{
    width: auto;
    height: 350px;
    border-radius: 40px;
    border: double 10px rgba(139, 0, 139, 0.331);
}

.pres, .exp, .comp, .form, .divers {
    
    margin-top: 50px;
    padding: 50px 100px;
    box-shadow: 10px 5px 15px rgba(189, 162, 252, 0.952);
    border-radius: 10%;
    height: 300px;
    background-color: rgba(189, 162, 252, 0.158);
}

.listComp {
    font-size: 1.4em;
}